$primaryColor:#705496;
$primaryDarkColor:#01516E;
$primaryDarkerColor:#041d3f;
$primaryLightColor:#f58ea4;
$primaryLightestColor:#f4f0fa;
$primaryTextColor:#ffffff;
$hoverBgColor:#e8e8e8;
$textColor:#212121;
$selection-color:#007BFF;
$border-color:#b5b2b2;

$LTEColor:#124191;
$NRColor:#316342;
$NRDSSColor:#62856f;
$GSMColor:#177580;
$UMTSColor:#7f6766;
$WIMAXColor:#c97474;
$LMDSColor:#66044c;
$WLLColor:#525252;


$linealGradientBg: linear-gradient(to top, rgba(48, 207, 208, 0.7) 0%, rgba(51, 8, 103, 0.7) 100%);
